*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Reset styles */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
}

/* Styles */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-bg {
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.top-line-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}

.top-line-nav:hover,
.top-line-nav:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-info {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}

.contacts-info:hover,
.contacts-info:focus {
  color: #404bbf;
}

.hero-bg {
  background-color: #2e2f42;
  text-align: center;
  margin-bottom: 120px;
}

.title-main {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  padding-top: 188px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.custom-button {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  margin-bottom: 188px;
}

.custom-button:hover,
.custom-button:focus {
  background-color: #404bbf;
}

.target-title,
.team-title,
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.target-goal,
.team-names,
.portfolio-product {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.target-text,
.team-text,
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-card-bg {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.logo-span-footer {
  color: #f4f4fd;
}

.footer-info {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
