*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Reset styles */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

/* Styles */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-bg {
  background-color: #ffffff;
}

.header-container {
  display: flex;
  margin-right: auto;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
}

.header-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.logo-span {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-item {
  margin-right: 40px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts-list {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  color: #434455;
  display: flex;
}

.contacts-item {
  margin-right: 40px;
}

.contacts-item:last-child {
  margin-right: 0;
}

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

.hero-bg {
  background-color: #2e2f42;
  text-align: center;
}

.hero-container {
  padding: 188px 0;
}

.title-main {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.custom-button {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  gap: 10px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.custom-button:hover,
.custom-button:focus {
  background-color: #404bbf;
}

.target-container {
  padding: 120px 0;
}

.target-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.target-item {
  width: 264px;
}

.target-goal {
  margin-bottom: 8px;
}

.target-title,
.team-title,
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.target-goal,
.team-names,
.portfolio-product {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.target-text,
.team-text,
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-card-bg {
  background-color: #f4f4fd;
}

.team-container {
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
  width: calc((100% - 24px / 3) * 4);
}

.team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-card:last-child {
  margin-right: 0;
}

.team-names {
  padding-top: 32px;
  padding-left: auto;
  padding-right: auto;
}

.portfolio-container {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: calc((100% - 24px / 2) * 3);
}

.portfolio-item {
}

.logo-span-footer {
  color: #f4f4fd;
}

.footer-info {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
